*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    background: #edeef1;
}
.container{
    width: 100%;
    max-width: 480px;
    color: #BC8F8F;
    
}
.accordion{
    width: 100%;
    max-width: 540px;
    margin: 18px auto;
    color: #fff;

}
.accordionHeading{
    background: #3f475d;
    padding: 14px 0;

}
.accordionHeading .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordionHeading p{
    letter-spacing: 1.2px;
    font-weight: 600;
}
.accordionHeading span{
    cursor: pointer;

}
.accordionContent{
    background: #383a7f;
    height: 0;
    opacity: 0;
    display: flex;
    overflow: hidden;
    transition: all 600ms ease-in-out;
}
.accordionContent.show{
    height: 180px;
    opacity: 1;

}
.accordionContent p{
    font-size: 15px;
    line-height: 1.6;
}
.h1{
    color: red;
}